* {
    margin: 0;
    /*Свойство, устанавливающее внешние отступы элемениа*/
    padding: 0;
    /*Свойство, устанавливающее внутренние отступы элемениа*/
}

html,
body {
    height: 100%;
    /*Свойство, устанавливающее высоту элемениа*/
}

.header,
a,
a:hover {
    color: orange;
    /*Свойство, устанавливающее цвет элемента*/
    text-decoration: none;
    /*Свойство, уберающее подчеркиване текста*/
}

.header h1 {
    letter-spacing: 15px;
    /*Межбуквенный интервал*/
    font-size: 300%;
    /*Размер шрифта*/
}

.header p {
    color: white !important;
    /*Свойство, устанавливающее за цвет элемента,
    Свойство !important не позволяет браузеру переопределить свойсто элемента*/
    font-size: 90%;
    /*Размер шрифта*/
    letter-spacing: 3px;
    /*Межбуквенный интервал*/
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    color: white;
    /*Свойство, устанавливающее за цвет элемента*/
    background-color: #d47f17;
    /*Свойство, устанавливающее за цвет заднего фона элемента*/
}

.nav-pills>li>a {
    color: white;
    /*Свойство, устанавливающее цвет элемента*/
}

.nav-pills>li>a:hover {
    background-color: #d47f17;
    /*Свойство, устанавливающее цвет заднего фона элемента*/
}

.navbar-inverse {
    padding: 1%;
    /*Свойство, устанавливающее внутренний отступ элемента*/
}

.clear {
    clear: both;
    /*Свойство, которое устанавливает с какой стороны элемента запрещено обтекание другими элементами*/
    height: 63px;
    /*Свойство, которое устанавливает ширину элемента*/
}

.wrapper {
    min-height: 100%;
    /*Свойство, которое задаёт минимальную высоту элемента*/
}


footer {
    color: #666666;
    /*Свойство, устанавливающее цвет элемента*/
    background: #222222;
    /*Свойство, устанавливающее цвет заднего фона элемента*/
    padding: 17px 0 18px 0;
    /*Свойство, устанавливающее внутренние отступы элемениа*/
    border-top: 1px solid black;
    /*Свойство позволяет одновременно установить толщину, стиль и цвет границы сверху элемента*/
}

.films_block {
    text-align: center;
    /*Свойсвто, которое устанавливает элемент по заданному знгачению*/
}

.films_block img {
    margin-bottom: 5%;
    /*Свойство, устанавливающее нижний отступ элемента снизу*/
    border-radius: 5px;
    /*Свойство, загругляющее границы элемента */
    border: solid 5px #dad7d5;
    /*Свойство позволяет одновременно установить толщину, стиль и цвет границы сверху элемента*/
    width: 100%;
    /*Свойство, устанавливающее ширину элемента*/
}

.film_label {
    padding: 2%;
    margin-bottom: 4%;
}

.margin-8 {
    margin-top: 8%;
}

/*Стили для телефонов*/
@media (max-width: 767px) {

    /*Свойство, которое устанавливает при каком размере экрана будут рабоать стили*/
    .nav-pills>li {
        float: none;
    }

    .nav-pills {
        text-align: center;
        /*Свойсвто, которое устанавливает элемент по заданному знгачению*/
    }

    .header,
    h1 {
        letter-spacing: 5px;
        /*Межбуквенный интервал*/
        font-size: 280%;
        /*Размер шрифта*/
    }

    .header {
        text-align: center;
        /*Свойсвто, которое устанавливает элемент по заданному знгачению*/
    }
}